<div class="main">
    <div class="image">
        <img
            src="https://cdn-listino.inmoto.it/2023/12/5/542076_MY_24_KTM_390_DUKE_Studio_Front_Left_04_STUDIO_GLOBAL_EUROPE_90e8e35264.jpg">
    </div>

    <div class="body">
        <p><b>Engine:</b> The KTM Duke 390 typically features a liquid-cooled, single-cylinder engine with a
            displacement around 398.3cc. It's likely to have fuel injection for efficient performance.</p>
        <p><b>Performance:</b> The KTM Duke 390 is a dynamic naked sport motorcycle known for its aggressive design,
            powerful single-cylinder engine, agile handling, and advanced features, offering an exhilarating riding
            experience with style and performance.
        </p>
        <p><b>Design:</b> KTM Dukes are known for their aggressive styling and sharp lines. The Gen3 Duke 390 could
            feature updates in design to keep it fresh and appealing to riders.</p>

        <p><b>Features:</b>In addition to ABS, KTM might introduce new safety features like lean-angle-sensitive ABS or
            traction control, enhancing the overall safety of the bike.</p>

        <p><b>Suspension and Brakes:</b> It's usually equipped with high-quality suspension components such as inverted
            front forks and a rear monoshock. Braking duties are handled by disc brakes both at the front and rear,
            offering good stopping power.</p>

        <p><b>Price:</b>The Ex-Showroom price of KTM Duke 390 is Rs.3,10,563. The price and availability of the KTM Duke
            390 vary depending on the region and model year. It's generally positioned as a mid-range option in KTM's
            lineup.</p>

        <p>The KTM Duke 390 is a dynamic naked sport motorcycle known for its aggressive design, powerful
            single-cylinder engine, agile handling, and advanced features, offering an exhilarating riding experience
            with style and performance.
        </p>
    </div>
    <div>
        <table border="2px solid grey">
            <th>Key Specifications</th>
            <tr>
                <td>Engine Capacity :</td>
                <td>398.6 cc</td>
            </tr>
            <tr>
                <td>Max Power :</td>
                <td>45.3 bhp &#64; 8500 rpm</td>
            </tr>
            <tr>
                <td>Max Torque :</td>
                <td>39 Nm &#64; 6500 rpm</td>
            </tr>
            <tr>
                <td>Mileage :</td>
                <td>26 Kmpl</td>
            </tr>
            <tr>
                <td>Cooling System :</td>
                <td>Liquid-cooled</td>
            </tr>
            <tr>
                <td>Fuel Tank Capacity :</td>
                <td>15 Litres</td>
            </tr>
            <tr>
                <td>Braking System :</td>
                <td>Dual Channel ABS</td>
            </tr>
            <th>Price :3,10,563(Ex-Showroom)</th>
        </table>
    </div>
    <div class="btn">
        <button class="btn btn-danger"><a style="color: black;" routerLink="bookNow">Book Now</a></button>
    </div>

</div>