<div class="main">
    <div class="image">
        <img src="https://bd.gaadicdn.com/upload/userfiles/images/60408e0113687.jpg">
    </div>

    <div class="body">
        <p><b>Engine:</b>The Platina 110 typically features a 115cc, single-cylinder, air-cooled engine. This engine is known for its fuel efficiency and reliability, making it suitable for daily commuting.
        </p>

        <p><b>Performance:</b>The engine of the Platina 110 is tuned to deliver decent power and torque figures, which are usually around 8-9 horsepower and approximately 9-10 Nm of torque, respectively. These figures may vary slightly based on specific model iterations and updates.</p>

        <p><b>Design:</b>The Platina 110 usually features a simple and ergonomic design optimized for comfort during daily commutes. It typically comes with alloy wheels, tubeless tires, and a comfortable seat for both the rider and pillion.
        </p>

        <p><b>Features:</b> While it may not have advanced features like some premium motorcycles, the Platina 110 usually comes with essential features such as electric start, alloy wheels, tubeless tires, and a maintenance-free battery.
        </p>

        <p><b>Fuel Efficiency:</b>One of the key highlights of the Platina series is its fuel efficiency. The Platina 110 is designed to offer excellent mileage, making it a cost-effective option for daily commuting needs.</p>

        <p><b>Price:</b>The Ex-Showroom price of bajaj Avenger Street 160 is &#x20b9;78,382.The pricing of the Bajaj Platina 110 may vary depending on factors such as location, taxes, and any additional features or variants offered by Bajaj Auto. However, it is generally positioned as an affordable commuter motorcycle targeted at budget-conscious buyers.</p>

        <p>Overall, The Bajaj Platina 110 is a commuter motorcycle designed primarily for daily commuting purposes. 
        </p>
    </div>
    <div>
        <table border="2px solid grey">
            <th>Key Specifications</th>
            <tr>
                <td>Engine Capacity :</td>
                <td>115.45 cc</td>
            </tr>
            <tr>
                <td>Max Power :</td>
                <td>8.48 bhp &#64; 7000 rpm</td>
            </tr>
            <tr>
                <td>Max Torque :</td>
                <td>9.81 Nm &#64; 5000 rpm</td>
            </tr>
            <tr>
                <td>Mileage :</td>
                <td>70 Kmpl</td>
            </tr>
            <tr>
                <td>Cooling System :</td>
                <td>Air-cooled</td>
            </tr>
            <tr>
                <td>Fuel Tank Capacity :</td>
                <td>11 Litres</td>
            </tr>
            <tr>
                <td>Braking System :</td>
                <td>Single Channel ABS</td>
            </tr>
            <th>Price :&#x20b9;78,382(Ex-Showroom)</th>
        </table>
    </div>
    <div class="btn">
        <button class="btn btn-danger"><a  style="color: black;" routerLink="bookNow" >Book Now</a></button>
    </div>

</div>