<div class="main">
    <div class="image">
        <img src="https://imgd.aeplcdn.com/1280x720/n/cw/ec/94159/avenger-street-160-right-front-three-quarter-8.png?isig=0&q=100">
    </div>

    <div class="body">
        <p><b>Engine:</b> The Bajaj Avenger Street 160 is propelled by a single-cylinder, air-cooled engine, providing a
            blend of power and efficiency suitable for urban and occasional highway riding.
        </p>

        <p><b>Performance:</b>Balanced for city streets and occasional highway jaunts, the Avenger Street 160 delivers
            reliable performance while maintaining fuel efficiency, ensuring a satisfying riding experience.</p>

        <p><b>Design:</b> With its cruiser-inspired aesthetics, the Avenger Street 150 features a low-slung seat,
            forward foot controls, and wide handlebars, providing riders with a relaxed and comfortable riding posture.
        </p>

        <p><b>Features:</b> Equipped with a semi-digital instrument cluster, alloy wheels, tubeless tires, and stylish
            body graphics, the Avenger Street 160 offers both functionality and aesthetics to riders.</p>

        <p><b>Suspension and Brakes:</b> The motorcycle boasts telescopic front forks and twin shock absorbers at the
            rear, ensuring a smooth ride. It typically features disc brakes in the front and drum brakes in the rear for
            adequate stopping power.</p>

        <p><b>Price:</b>The Ex-Showroom price of bajaj Avenger Street 160 is &#x20b9; 1,14,640. Positioned as an affordable cruiser motorcycle, pricing for the Avenger Street 150 varies based
            on location, taxes, and optional features, offering accessibility to riders with varying budgets.</p>

        <p>Overall, The Bajaj Avenger Street 160 offers a cruiser-style ride with its 150cc engine, striking a balance
            between performance and fuel efficiency. Featuring a relaxed riding position, stylish design elements, and
            essential features, it provides a comfortable and cost-effective commuting option, widely available in
            markets served by Bajaj Auto.
        </p>
    </div>
    <div>
        <table border="2px solid grey">
            <th>Key Specifications</th>
            <tr>
                <td>Engine Capacity :</td>
                <td>160 cc</td>
            </tr>
            <tr>
                <td>Max Power :</td>
                <td>14.79 bhp &#64; 8500 rpm</td>
            </tr>
            <tr>
                <td>Max Torque :</td>
                <td>13.7 Nm &#64; 7000 rpm</td>
            </tr>
            <tr>
                <td>Mileage :</td>
                <td>50 Kmpl</td>
            </tr>
            <tr>
                <td>Cooling System :</td>
                <td>Air-cooled</td>
            </tr>
            <tr>
                <td>Fuel Tank Capacity :</td>
                <td>13 Litres</td>
            </tr>
            <tr>
                <td>Braking System :</td>
                <td>Single Channel ABS</td>
            </tr>
            <th>Price :&#x20b9;1,14,640(Ex-Showroom)</th>
        </table>
    </div>
    <div class="btn">
        <button class="btn btn-danger"><a  style="color: black;" routerLink="bookNow" >Book Now</a></button>
    </div>

</div>