<div>
  <section class="bikeFeature">
    <div class="container">
      <ul class="list">
        <li>
          <figure class="circle_shadow">
            <img
              src="https://cdn.bajajauto.com/-/media/images/ktm/ktm-bikes/naked-bike/ktm-390-duke/key-features/performance_icon.png" 
              alt="KTM Duke 125 BS6 Performance Icon"
              title=""
            />
          </figure>
          <div class="icon_description">
            <span>Purposive Design</span>
            <p>
              Dakar Rally<br />
              Inspired Design
            </p>
          </div>
        </li>
        <li>
          <figure class="circle_shadow">
            <img
              src="https://cdn.bajajauto.com/-/media/images/ktm/ktm-bikes/naked-bike/ktm-390-duke/key-features/design_icon.png"
              alt="KTM Duke 125 BS6 Design Icon"
              title=""
            />
          </figure>
          <div class="icon_description">
            <span>Performance</span>
            <p>
              Class-Leading <br />Powerful Engine<br />
              on Tarmac &amp; Trails
            </p>
          </div>
        </li>
        <li>
          <figure class="circle_shadow">
            <img
              src="https://cdn.bajajauto.com/-/media/images/ktm/ktm-bikes/naked-bike/ktm-390-duke/key-features/technology_icon-ktm.png"
              alt="KTM Duke 125 BS6 Technology Icon"
              title=""
            />
          </figure>
          <div class="icon_description">
            <span>State-of-the-art Electronics</span>
            <p>
              Traction Control,<br />
              Riding Modes,<br />
              Ride-By-Wire
            </p>
          </div>
        </li>
        <li>
          <figure class="circle_shadow">
            <img
              src="https://cdn.bajajauto.com/-/media/images/ktm/ktm-bikes/naked-bike/ktm-390-duke/key-features/safety_icon.png"
              alt="KTM Duke 125 BS6 Argonomics Icon"
              title=""
            />
          </figure>
          <div class="icon_description">
            <span>Built For Adventure</span>
            <p>
              400 km+ Range, WP<br />
              APEX Suspension,<br />
              Race-proven frame
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>

<div
  id="carouselExampleSlidesOnly"
  class="carousel slide"
  data-bs-ride="carousel"
>
<div class="carousel-inner">
  <div class="carousel-item active position-relative">
      <img src="assets/images/n160.webp" class="d-block w-100" alt="..." style="height: 750px;" />
      <div class="overlay position-absolute bottom-0 start-50 translate-middle-x">
          <a routerLink="N160" style="text-decoration: none;color: red;">
              <svg style="height: 40px;width: 40px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z" />
                  <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
              </svg>
          </a>
      </div>
  </div>
</div>

</div>
