<div class="main">
  <div class="image">
      <img src="assets/images/Shotgun_650_Plasma_Blue_3_04a91b78e1.jpg" alt="loading..." style="height: 400px;width: 100%; object-fit: cover;border: none;">
  </div>

  <h1>Royal Enfield Shotgun 650</h1>

  <table border="1px solid black">
      <th>Variant</th>
      <th>Price</th>
      <th>Specifications</th>
      <tr>
          <td>Shotgun 650 Custom Shed</td>
          <td>₹ 3,59,430</td>
          <td>Disc Brakes, Alloy Wheels</td>
      </tr>
      <tr>
          <td>Shotgun 650 Custom Pro</td>
          <td>₹ 3,70,138</td>
          <td>Disc Brakes, Alloy Wheels</td>
      </tr>
      <tr>
          <td>Shotgun 650 Custom Special</td>
          <td>₹ 3,73,000</td>
          <td>Disc Brakes, Alloy Wheels</td>
      </tr>
  </table>

  <h2>Key Highlights</h2>
  <ul>
      <li>Engine Capacity: 648 cc</li>
      <li>Mileage - ARAI: 22 kmpl</li>
      <li>Transmission: 6 Speed Manual</li>
      <li>Kerb Weight: 240 kg</li>
      <li>Fuel Tank Capacity: 13.8 litres</li>
      <li>Seat Height: 795 mm</li>
  </ul>

  <h2>Royal Enfield Shotgun 650 Summary</h2>
  <p style="border: 1px solid black transparent; height: 150px; width: 650px;">Price: Royal Enfield Shotgun 650 price for its variant - Shotgun 650 Custom Shed is estimated at Rs. 3,59,430. The price for the other variants - Shotgun 650 Custom Pro and Shotgun 650 Custom Special are Rs. 3,70,138 and Rs. 3,73,000. The mentioned Shotgun 650 prices are the average ex-showroom.</p>

  <div class="btn" >
      <button class="btn btn-danger" routerLink="bookNow">Book Now</button>
  </div>
</div>