<div class="container" >
    <h1 style="color: white;text-align: center;">News & Media</h1>
    <ul class="cards">
      <li class="card">
        <div class="card-link-wrapper">
          <a routerLink="triumph-400" class="card-link"><p>NEW TRIUMPH SPEED 400 LAUNCHED IN INDIA AT PRICE OF 2,23,000/-</p></a>
        </div>
      </li>
      <li class="card">
        <div class="card-link-wrapper">
          <a routerLink="triumph-400x" class="card-link"><p>THE NEW SPEED 400 AND SCRAMBLER 400 X TWO ALL-NEW TRIUMPH MODERN CLASSICS</p>
          </a>
        </div>
      </li>
      <li class="card">
        <div class="card-link-wrapper">
          <a routerLink="KTM-390" class="card-link"><p>2023 KTM 390 ADVENTURE LAUNCHED IN INDIA WITH FULLY ADJUSTABLE SUSPENSION & SPOKE WHEELS</p>
          </a>
        </div>
      </li>
      <li class="card">
        <div class="card-link-wrapper">
          <a routerLink="pulsar-p150" class="card-link"><p>BAJAJ AUTO LAUNCHES THE ALL-NEW PULSAR P150, RE-IMAGINED AND RE-ENGINEERED!</p>
          </a>
        </div>
      </li>
      <li class="card">
        <div class="card-link-wrapper">
          <a routerLink="KTM" class="card-link"><p>KTM ANNOUNCES ‘UPPER MUSTANG ADVENTURE TOUR’ TO NEPAL</p>
          </a>
        </div>
      </li>
    </ul>
  </div>