<div class="main">
    <div class="image">
        <img
            src=" https://cdni.autocarindia.com/utils/imageresizer.ashx?n=https://cms.haymarketindia.net/model/uploads/modelimages/KTM-250-Duke-Gen-3-110920231550.png">
    </div>

    <div class="body">
        <p><b>Engine:</b> The KTM Duke 250 is typically equipped with a single-cylinder, liquid-cooled, four-stroke
            engine with fuel injection. The displacement is around 248.8cc. It produces significant power suitable for
            its class, usually around 30 horsepower. </p>
        <p><b>Performance:</b> With its relatively lightweight construction and powerful engine, the KTM Duke 250 offers
            spirited performance, making it suitable for both city commuting and occasional spirited rides on twisty
            roads.
        </p>
        <p><b>Design:</b> The Duke 250 follows KTM's signature aggressive design language with sharp lines and a
            muscular appearance. It typically features a lightweight trellis frame, offering good agility and handling
            characteristics.</p>

        <p><b>Features:</b> Depending on the model year and market, the KTM Duke 250 may come with features such as LED
            lighting, digital instrumentation, ABS (Anti-lock Braking System), slipper clutch, and ride-by-wire
            throttle.</p>

        <p><b>Suspension and Brakes:</b> It's usually equipped with high-quality suspension components such as inverted
            front forks and a rear monoshock. Braking duties are handled by disc brakes both at the front and rear,
            offering good stopping power.</p>

        <p><b>Price:</b>The Ex-Showroom price of bajaj Avenger Street 160 is Rs.2,39,034. The price and availability of
            the KTM Duke 250 vary depending on the region and model year. It's generally positioned as a mid-range
            option in KTM's lineup.</p>

        <p> The KTM Duke 250 is a dynamic naked sport motorcycle known for its aggressive design, powerful
            single-cylinder engine, agile handling, and advanced features, offering an exhilarating riding experience
            with style and performance.
        </p>
    </div>
    <div>
        <table border="2px solid grey">
            <th>Key Specifications</th>
            <tr>
                <td>Engine Capacity :</td>
                <td>249.07 cc</td>
            </tr>
            <tr>
                <td>Max Power :</td>
                <td>30.57 bhp &#64; 9250 rpm</td>
            </tr>
            <tr>
                <td>Max Torque :</td>
                <td>25 Nm &#64; 7250 rpm</td>
            </tr>
            <tr>
                <td>Mileage :</td>
                <td>30 Kmpl</td>
            </tr>
            <tr>
                <td>Cooling System :</td>
                <td>Liquid-cooled</td>
            </tr>
            <tr>
                <td>Fuel Tank Capacity :</td>
                <td>15 Litres</td>
            </tr>
            <tr>
                <td>Braking System :</td>
                <td>Dual Channel ABS</td>
            </tr>
            <th>Price :2,39,034(Ex-Showroom)</th>
        </table>
    </div>
    <div class="btn">
        <button class="btn btn-danger"><a style="color: black;" routerLink="bookNow">Book Now</a></button>
    </div>

</div>