<div class="main">
    <div class="image">
        <img src="https://media.zigcdn.com/media/content/2023/Feb/cover_63ef12fe12e59.jpg?tr=w-1200">
    </div>

    <div class="body">
        <p><b>Engine:</b>The engine of the Bajaj Pulsar 220F is equipped with an oil cooler system, helping to maintain optimal engine temperature and enhance performance during prolonged rides or in hot weather conditions.</p>
        <p><b>Performance:</b>With its advanced DTS-i technology, the Bajaj Pulsar 220F delivers impressive acceleration and throttle response, making it suitable for both city commuting and highway cruising.
        </p>
        <p><b>Design:</b>In addition to its sporty design, the Bajaj Pulsar 220F features LED tail lamps and attractive graphics, enhancing its visual appeal and making it stand out on the road.</p>

        <p><b>Features:</b>
            The Bajaj Pulsar 220F excels with its powerful engine, smooth transmission, and reliable braking. Its sporty design, sturdy chassis, and comfortable suspension ensure an enjoyable ride. With its efficient cooling system and stylish aesthetics, it's a top choice for both daily commuting and spirited rides.</p>

        <p><b>Suspension and Brakes:</b> The Bajaj Pulsar 220F is equipped with reliable suspension and braking systems. Its telescopic front forks and 5-step adjustable Nitrox rear suspension provide a comfortable and controlled ride over various road conditions. Additionally, the bike features disc brakes on both the front and rear wheels, offering precise and responsive braking performance for enhanced safety and confidence while riding.</p>

        <p><b>Price:</b>The Ex-Showroom price of bajaj pulsar F250 is &#x20b9;1,38,285.  Despite its advanced features and performance, the Bajaj Pulsar 220F is competitively priced, offering excellent value for money compared to other motorcycles in its segment.</p>

        <p>Overall, the Bajaj Pulsar F250 offers a blend of performance, comfort, and features, making it a compelling
            option for riders looking for a versatile motorcycle for daily commuting as well as long-distance touring.
        </p>
    </div>

    <div>
        <table border="2px solid grey">
            <th>Key Specifications</th>
            <tr>
                <td>Engine Capacity :</td>
                <td>220 cc</td>
            </tr>
            <tr>
                <td>Max Power :</td>
                <td>20.11 bhp &#64; 8500 rpm</td>
            </tr>
            <tr>
                <td>Max Torque :</td>
                <td>18.5 Nm &#64; 6500 rpm</td>
            </tr>
            <tr>
                <td>Mileage :</td>
                <td>40 Kmpl</td>
            </tr>
            <tr>
                <td>Cooling System :</td>
                <td>Oil-cooled</td>
            </tr>
            <tr>
                <td>Fuel Tank Capacity :</td>
                <td>15 Litres</td>
            </tr>
            <tr>
                <td>Braking System :</td>
                <td>Single Channel ABS</td>
            </tr>
            <th>Price :&#x20b9;1,38,285(Ex-Showroom)</th>
        </table>
    </div>

    <div class="btn">
        <button class="btn btn-danger"><a  style="color: black;" routerLink="bookNow" >Book Now</a></button>
    </div>

</div>