<div class="container">
    <h1>KTM announces ‘UPPER MUSTANG Adventure Tour’ to Nepal</h1>
    <p><strong>09 May 2023</strong></p>
    <p>KTM, World’s No. 1 premium motorcycle brand, has announced its first International Adventure tour - the Upper Mustang Adventure Tour from 27th May to 8th June 2023. This meticulously planned 13-day expedition is set to be the epitome of motorcycle adventure touring.</p>
    <h2>Explore the mystical allure of Upper Mustang's thrilling landscapes</h2>
    <p>Nothing can beat the thrill of riding through the forbidden kingdom of Upper Mustang on a motorcycle. Located in the remote Himalayas, this captivating destination mesmerizes with its rugged cliffs, breathtaking canyons, and profound Tibetan Buddhist heritage. Starting from Gorakhpur, the scenic route goes through Kathmandu – Pokhara – Lete – Jomsom – Lo Mangthang – Nupra Pass – Samar – Muktinath – Tatopani – Pokhara and ends back at Gorakhpur.</p>
    <h2>Sharpen your riding prowess with the KTM Adventure tour</h2>
    <p>The Upper Mustang Adventure tour presents KTM riders with the perfect chance to refine their off-road abilities. The specially curated tour takes the riders through breath-taking routes, including perilous passes, muddy paths and tricky trails, with exhilarating moments awaiting at every twist and turn. Renowned off-road specialists from Nepal will give participants one-on-one instructions and support to hone their skills and unlock their riding potential to the fullest. All this, along with a full-day, high-altitude Adventure Academy at Nupra Pass will be a part of the signature KTM Adventure tour that has become extremely popular with KTM riders who are passionate about off-roading and adventure.</p>
    <h2>The KTM Adventure – perfect for a challenging terrain</h2>
    <p>The KTM Adventure motorcycle is the ultimate companion for conquering challenging terrains, thanks to its impressive array of features. Designed by inspiration from KTM’s dominance in Rally Racing, it boasts exceptional off-road capabilities, including a WP APEX long travel suspension, off-road capable tubeless tyres, and a powerful engine. It adapts seamlessly to various terrains with advanced traction control and riding modes, ensuring optimal performance and control. The bike's ergonomic design, comfortable seating, and wind protection enhance the rider’s comfort during long journeys over demanding landscapes. Whether it's navigating steep hills, rocky paths, or muddy trails, the KTM Adventure motorcycle is perfectly equipped to tackle any adventure with confidence and precision.</p>
    <h2>Important Links:</h2>
    <ul>
      <li><a href="https://www.ktmindia.com/pro-xp/adventure/tours/nepal/2023/Brochure%20-%20KTM%20Adventure%20Tour%20-%20Upper%20Mustang.pdf">Brochure: KTM Upper Mustang Tour Brochure</a></li>
      <li><a href="https://www.ktmindia.com/ktmindiaapp/download">Booking: KTM India App</a></li>
      <li><a href="https://www.youtube.com/watch?v=qXItyuVDs0U">Film: KTM Upper Mustang tour video</a></li>
    </ul>
    <h2>KTM Pro-XP:</h2>
    <p>KTM Pro-XP is an owner engagement program that offers a range of professional riding experiences across Trail, Track and Tarmac to hone their riding skills to a pro level. In the last 3 years, more than 25000 KTM owners have participated and benefited from the Pro-XP program.</p>
    <h2>About KTM:</h2>
    <p>True to its “Ready to Race” philosophy, KTM has an unparalleled legacy in motorsports, with over 334+ world championships since 1953, winning the Dakar Rally for the 19th time in 2023. Since its entry in 2012, KTM India has grown its presence to more than 450 stores across the country. KTM has built a strong customer base of nearly half a million biking enthusiasts, making India the largest global market for KTM. The partnership of Bajaj Auto Limited and KTM was inked in 2007, with Bajaj Auto Limited now owning a significant stake in KTM AG.</p>
    <h2>To know more:</h2>
    <ul>
      <li><a href="https://www.youtube.com/c/KTMIndia-ReadyToRace">YouTube</a></li>
      <li><a href="https://www.facebook.com/indiaktm">Facebook</a></li>
      <li><a href="https://www.instagram.com/ktm_india/">Instagram</a></li>
      <li><a href="https://www.ktmindia.com/">KTM India</a></li>
  
    </ul>
</div>
<div class="text-center">
    <a routerLink="/home">
        <button class="btn btn-dark">Back to Home</button>
    </a>
</div>