<div class="main">
    <div class="image">
        <img src="https://images.carandbike.com/cms/articles/2024/1/3211091/2024_Bajaj_Chetak_Premium_1_9ad6e58c20.jpg">
    </div>

    <div class="body">
        <p><b>Battery:</b> The scooter comes with a lithium-ion battery pack. The exact capacity may vary depending on
            the model and variant. The battery is rechargeable and can be charged using a standard household power
            outlet.
        </p>

        <p><b>Range:</b>The range of the Bajaj Chetak depends on various factors such as riding conditions, speed,
            terrain, and load. Typically, it offers a range of around 95 kilometers on a single charge, which is
            suitable for daily commuting needs.</p>

        <p><b>Design:</b>The Chetak features a classic and retro design reminiscent of its iconic gasoline-powered
            predecessor, which was a popular scooter in India for several decades. It blends modern styling cues with
            traditional elements.
        </p>

        <p><b>Features:</b>The Chetak comes with several modern features such as LED lighting, digital instrument
            cluster, regenerative braking system, and smartphone connectivity. The digital instrument cluster provides
            information such as speed, battery status, range, and more.
        </p>

        <p><b>Performance:</b>The electric motor delivers decent performance suitable for city commuting. It provides
            smooth acceleration and adequate power for urban riding conditions.</p>

        <p><b>Price:</b>The Ex-Showroom price of bajaj Avenger Street 160 is &#x20b9;1,37,698. The price of the Bajaj
            Chetak varies depending on the variant and location. It is positioned as a premium electric scooter,
            reflecting its modern features and design. However, Bajaj aims to make it competitive in its segment.</p>

        <p>Overall,
            The Bajaj Chetak is a modern electric scooter with a classic design, powered by a lithium-ion battery. It
            offers smooth performance, a range of approximately 95 kilometers, and features such as LED lighting,
            digital instrument cluster, and smartphone connectivity, targeting urban commuters with eco-friendly
            transportation solutions.
        </p>
    </div>
    <div>
        <table border="2px solid grey">
            <th>Key Specifications</th>
            <tr>
                <td>Fuel Type :</td>
                <td>Electric</td>
            </tr>
            <tr>
                <td>Battery Capacity :</td>
                <td>2.9 kWh</td>
            </tr>
            <tr>
                <td>Charger Output :</td>
                <td>650w</td>
            </tr>
            <tr>
                <td>Riding Range :</td>
                <td>113 KM</td>
            </tr>
            <tr>
                <td>Top Speed :</td>
                <td>63 Kmph</td>
            </tr>
            <tr>
                <td>Battery Charging Time :</td>
                <td>4 hr 50 mins</td>
            </tr>
            <tr>
                <td>Braking System :</td>
                <td>Combined Braking System(CBS)</td>
            </tr>
            <th>Price :&#x20b9;1,37,698(Ex-Showroom)</th>
        </table>
    </div>
    <div class="btn">
        <button class="btn btn-danger"><a  style="color: black;" routerLink="bookNow" >Book Now</a></button>
    </div>

</div>