<div class="main" >
    <div class="image">
        <img
            src="https://imgd.aeplcdn.com/664x374/n/cw/ec/1/versions/bajaj-ct-125x-drum1676962511735.jpg?q=80">
    </div>

    <div class="body">
        <p><b>Engine:</b>  Expect a fuel-efficient and reliable engine, possibly a four-stroke, air-cooled unit with a displacement around 125cc, delivering adequate power for daily commuting needs.
        </p>

        <p><b>Performance:</b> Balanced performance for city riding and occasional off-road excursions, offering smooth acceleration, manageable power delivery, and comfortable cruising at moderate speeds.</p>

        <p><b>Design:</b>The Bajaj CT 125X likely features a rugged design suitable for both urban commuting and light off-road adventures, with robust build quality and functional styling cues.
        </p>

        <p><b>Features:</b>  Basic features like electric start, alloy wheels, telescopic front suspension, rear shock absorbers, disc/drum brakes, and possibly some modern touches like digital instrumentation and LED lighting.</p>

        <p><b>Fuel Efficiency:</b>Expect impressive fuel efficiency figures, making it cost-effective for daily commuting while also being environmentally friendly with reduced emissions.</p>

        <p><b>Price:</b>The Ex-Showroom price of bajaj Avenger Street 160 is &#x20b9;76,816.Positioned competitively in the market, offering value for money proposition with a balance of features, performance, and reliability compared to its peers in the commuter motorcycle segment.</p>

        <p>Overall, The Bajaj CT 125X is poised to be a versatile and practical choice for riders seeking a reliable and efficient commuter motorcycle with the capability for occasional off-road adventures.
        </p>
    </div>
    <div>
        <table border="2px solid grey">
            <th>Key Specifications</th>
            <tr>
                <td>Engine Capacity :</td>
                <td>124.4 cc</td>
            </tr>
            <tr>
                <td>Max Power :</td>
                <td>10.7 bhp &#64; 8000 rpm</td>
            </tr>
            <tr>
                <td>Max Torque :</td>
                <td>11 Nm &#64; 5500 rpm</td>
            </tr>
            <tr>
                <td>Mileage :</td>
                <td>64 Kmpl</td>
            </tr>
            <tr>
                <td>Cooling System :</td>
                <td>Air-cooled</td>
            </tr>
            <tr>
                <td>Fuel Tank Capacity :</td>
                <td>11 Litres</td>
            tft</tr>
            <tr>
                <td>Braking System :</td>
                <td>Combined Braking System(CBS)</td>
            </tr>
            <th>Price :&#x20b9;76,816(Ex-Showroom)</th>
        </table>
    </div>
    <div class="btn">
        <button class="btn btn-danger"><a  style="color: black;" routerLink="bookNow" >Book Now</a></button>
    </div>

</div>