<div class="container">
    <h1>THE NEW SPEED 400 AND SCRAMBLER 400 X</h1>
    <h2>TWO ALL-NEW TRIUMPH MODERN CLASSICS</h2>
    <p>Conceived and designed in Hinckley, UK, these bikes feature an all-new engine with a six-speed gearbox, 40 PS peak power and 37.5 Nm peak torque. Infused with rider-focused technology, superior engine-management, traction control system, and dual-channel ABS (switchable on Scrambler 400 X for off-road use). Factory fitted security and all-LED lighting, both bikes are equipped with a steering lock and an anti-theft immobiliser. With more than 25 genuine accessories, the bikes can be accessorised to suit a broad range of rider’s needs. 16,000 Km service interval with a two-year unlimited mileage warranty. India launch on July 5th 2023.</p>
    
    <h2>Born into a Peerless Bloodline</h2>
    <p>The Speed 400 roadster joins Triumph’s most successful modern classic line-up, the Speed Twin 900 and 1200 while the Scrambler 400 X takes its rugged design cues from the Scrambler 900 and 1200, with an off-road pedigree that goes back to the first factory Scramblers of the 1950s.</p>
    
    <h2>Designed from the Ground Up</h2>
    <p>With a brand-new single engine platform at their heart, these new models are designed to deliver a fun, agile and confidence-inspiring ride for riders of all ages and experience levels. Together, with class-leading capability, rider-focused technology and category-leading quality and detail, and with a high level of standard specification, long service intervals and a comprehensive warranty, these accessible new models represent incredible value for money and bring Triumph’s iconic style, quality and performance to a whole new generation of Triumph riders.</p>
    
    <h2>Triumph's Iconic Speed and Scrambler Design DNA</h2>
    <p>Conceived and designed in Hinckley, UK, these two new additions to the modern classics line-up have been developed with the same exacting attention to detail as Triumph’s most celebrated models. They are instantly recognisable thanks to their timeless Triumph silhouettes, signature sculpted fuel tanks and classic engine profiles and have been designed to deliver all of the quality, feel and presence of their larger capacity stablemates. Traditional touches, like the distinctive finned cylinder head and traditional exhaust header clamps combine with contemporary details like the upswept silencer, bold graphics and sensitively-incorporated technology, such as concealed liquid-cooling and a flowing exhaust run with hidden primary silencer. All combining to deliver that unmistakable Triumph modern classic style.</p>

    
    <h2>The All-New TR-Series Engine</h2>
    <p>Named to celebrate the historic Triumph ‘Trophy’ bloodline, whose roots can be traced back to the racing singles of the early twentieth century, and in particular Six Day Trial offroad competition. This all-new fuel-injected and liquid-cooled 398cc single-cylinder engine combines Triumph’s trademark modern classic style with state-of-the-art engineering to deliver class-beating performance with a responsive, fun and characterful power delivery along with an evocative, rich and distinctive exhaust note.</p>


    <h2>Triumph's Easy, Agile and Dynamic Confidence-Inspiring Ride</h2>
    <p>With ergonomics designed for optimum comfort and control, the Speed 400 and Scrambler 400 X benefit from a slim waistline which combines with an accessible seat height of 790mm and 835mm respectively and a low weight of 170kg / 179kg to ensure assured low-speed handling and easy feet-down manoeuvres.</p>


    <h2>Modern Rider-Focused Technology</h2>
    <p>Adding rider convenience, performance and safety, the Speed 400 and Scrambler 400 X share some of the latest rider-focused technology, tailored to suit each model.</p>


    <h2>Built to Make Your Own</h2>
    <p>More than 25 genuine accessories are available for the Speed 400 and Scrambler 400 X. From styling and comfort to luggage and security, both bikes can be accessorised to suit a broad range of riders’ needs.</p>


    <h2>Unbeatable Value</h2>
    <p>With class-leading performance, unrivalled quality and low running costs, these exciting new modern classics represent incredible value for money.</p>


    <h2>Specifications</h2>
        <table border="1">
            <tr>
                <th></th>
                <th>Speed 400</th>
                <th>Scrambler 400 X</th>
            </tr>
            <tr>
                <td>ENGINE AND TRANSMISSION</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Type</td>
                <td>Liquid-cooled, 4 valve, DOHC, single-cylinder</td>
                <td>Liquid-cooled, 4 valve, DOHC, single-cylinder</td>
            </tr>
            <tr>
                <td>Capacity</td>
                <td>398.15 cc</td>
                <td>398.15 cc</td>
            </tr>
        </table>


        <h2>About Triumph</h2>
        <p>First established in 1902, Triumph Motorcycles celebrated 120 years of motorcycle manufacture in 2022. For more than three decades, Triumph Motorcycles has been based in Hinckley, Leicestershire, and has produced iconic bikes that perfectly blend authentic design, character, charisma and performance.</p>
        
</div>
<div class="text-center">
    <a routerLink="/home">
        <button class="btn btn-dark">Back to Home</button>
    </a>
</div>