<div class="main">
    <div class="image">
        <img src="https://bd.gaadicdn.com/upload/modellogo/64d4a913880f1.jpg" alt="loading..." style="height: 500px;width: 950px;border: none;">
    </div>

    <div class="body">
        <p><b>Engine:</b> The KTM RC 390 boasts a high-performance single-cylinder, liquid-cooled engine, delivering exhilarating power and torque, making it a formidable presence on the track and the road.</p>

        <p><b>Performance:</b> Engineered for pure performance, the RC 390 offers precise handling, razor-sharp agility, and blistering acceleration, ensuring an adrenaline-charged riding experience for enthusiasts and racers alike.</p>

        <p><b>Design:</b> With its aggressive aerodynamic design, race-inspired bodywork, and signature orange accents, the KTM RC 390 stands out as a true racing machine, exuding style and performance in equal measure.</p>

        <p><b>Features:</b> Packed with advanced features such as adjustable suspension, slipper clutch, ride-by-wire throttle, and advanced instrumentation, the RC 390 offers cutting-edge technology for ultimate control and performance.</p>

        <p><b>Suspension and Brakes:</b> Equipped with top-of-the-line suspension components and high-performance braking system with dual-channel ABS, the RC 390 delivers exceptional stability, precision, and safety on every ride.</p>

        <p><b>Price:</b> The KTM RC 390 is priced competitively, offering exceptional value for its class-leading performance, advanced features, and race-bred pedigree, making it the ultimate choice for thrill-seekers and track enthusiasts.</p>

        <p>Overall, the KTM RC 390 sets new standards in the supersport segment with its unparalleled performance, aggressive design, and advanced technology, redefining the thrill of sportbike riding.</p>
    </div>
    <div>
        <table class="table">
            <th>Key Specifications</th>
            <tr>
                <td>Engine Capacity :</td>
                <td>373.2 cc</td>
            </tr>
            <tr>
                <td>Max Power :</td>
                <td>43.5 bhp &#64; 9000 rpm</td>
            </tr>
            <tr>
                <td>Max Torque :</td>
                <td>37 Nm &#64; 7000 rpm</td>
            </tr>
            <tr>
                <td>Mileage :</td>
                <td>25-30 Kmpl</td>
            </tr>
            <tr>
                <td>Cooling System :</td>
                <td>Liquid-cooled</td>
            </tr>
            <tr>
                <td>Fuel Tank Capacity :</td>
                <td>9.5 Litres</td>
            </tr>
            <tr>
                <td>Braking System :</td>
                <td>Dual Channel ABS</td>
            </tr>
            <th>Price : ₹ 2,77,000 (Ex-Showroom)</th>
        </table>
    </div>
    <div class="btn">
        <button>Book Now</button>
    </div>
</div>
