<div style="background-color: rgb(7, 7, 7);">
    <div class="name">
        <div class="carousel-container">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner"style="top: -20px;">
                    <div class="carousel-item active">
                        <video class="fullscreen-video" muted autoplay loop>
                            <source src="assets/videos/BikeIntro.mp4" type="video/mp4"/>
                        </video>
                        <div class="overlay">
                            <h2 class="text-white">Shotgun 650</h2>
                            <p class="text-white">Inspired by custom. For custom.</p>
                            <a routerLink="shotgun650"><button class="btn btn-dark">Explore</button></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" style="margin-bottom: 10px;">
                <div class="carousel-inner" style="top: -10px;">
                    <div class="carousel-item active">
                        <img src="assets/images/classic350.webp" class="d-block w-100" alt="Royal Enfield Classic 350">
                        <div class="overlay overlay-left">
                            <h5>Royal Enfield Classic 350</h5>
                            <a routerLink="classic-350">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                                    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/images/KTM-390.webp" class="d-block w-100" alt="KTM Duke390">
                        <div class="overlay overlay-rightright">
                            <h5>KTM Duke390</h5>
                            <a routerLink="duke390">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                                    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/images/ktm-rc390.jpg" class="d-block w-100" alt="loading...">
                        <div class="overlay overlay-rightrightright" style="margin-left: 500px;margin-top: 290px;text-align: center;">
                            <h5 class="text-white">KTM RC390</h5>
                            <a routerLink="rc390" style="text-decoration: none;color: red;"><svg style="height: 40px;width: 40px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                                </svg></a>
                        </div>
                    </div>
                    
                    <div class="carousel-item">
                        <img src="assets/images/dominor400.jpg" class="d-block w-100" alt="Royal Enfield Classic 350">
                        <div class="overlay">
                            <h5>Dominor-400</h5>
                            <a routerLink="dominar400">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                                    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
    
                    <div class="carousel-item">
                        <img src="assets/images/bajaj-pulsar-200-ns.jpg" class="d-block w-100" alt="loading...">
                        <div class="overlay" style="margin-left: 650px;margin-top: 290px;text-align: center;">
                            <h5 class="text-white">Pulsar-NS200</h5>
                            <a routerLink="ns200" style="text-decoration: none;color: red;"><svg style="height: 40px;width: 40px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                                </svg></a>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <app-slide></app-slide>
    <div>
        <app-cards></app-cards>
    </div>
    </div>