<div class="main">
    <div class="image">
        <img src="https://e1.pxfuel.com/desktop-wallpaper/868/515/desktop-wallpaper-ktm-duke-200-price-review-mileage-features-specifications-duke-200-bs6.jpg">
    </div>

    <div class="body">
        <p><b>Engine:</b> The KTM Duke 200's liquid-cooled, single-cylinder, 4-stroke engine with a displacement of 199.5cc delivers impressive power and torque, ensuring thrilling acceleration and responsiveness.  </p>
        <p><b>Performance:</b> With approximately 25 horsepower and 19 Nm of torque, the KTM Duke 200 offers exhilarating performance ideal for navigating urban streets and enjoying spirited rides on highways.
        </p>
        <p><b>Design:</b> Its aggressive styling, coupled with an upright riding position and ergonomic handlebar-footpeg configuration, not only exudes sportiness but also ensures rider comfort and maneuverability in urban traffic and on twisty roads. </p>

        <p><b>Features:</b> The KTM Duke 200 boasts a liquid-cooled 199.5cc engine, precise fuel injection, advanced suspension, reliable disc brakes, sporty design, digital instrumentation, customizable color options, and a range of available accessories.</p>

        <p><b>Suspension and Brakes:</b> The KTM Duke 200 features advanced suspension with upside-down telescopic forks at the front and a monoshock absorber at the rear, coupled with reliable disc brakes for precise and responsive handling.</p>

        <p><b>Price:</b> The Ex-Showroom price of KTM DUKE 200 is RS 1,96,797.Positioned in the mid-range segment, the KTM Duke 200 offers exceptional value for its performance, features, and build quality, making it an enticing option for riders seeking a thrilling yet practical motorcycle experience.   </p>

        <p>The 2024 KTM RC 390 Gen2 is expected to feature a powerful single-cylinder engine, aggressive design,
            advanced electronics, premium components, and enhanced connectivity.
        </p>
    </div>
    <div>
        <table border="2px solid grey">
            <th>Key Specifications</th>
            <tr>
                <td>Engine Capacity :</td>
                <td>199.5 cc</td>
            </tr>
            <tr>
                <td>Max Power :</td>
                <td>24.67 bhp &#64; 10000 rpm</td>
            </tr>
            <tr>
                <td>Max Torque :</td>
                <td>19.3 Nm &#64; 8000 rpm</td>
            </tr>
            <tr>
                <td>Mileage :</td>
                <td>35 Kmpl</td>
            </tr>
            <tr>
                <td>Cooling System :</td>
                <td>Liquid-cooled</td>
            </tr>
            <tr>
                <td>Fuel Tank Capacity :</td>
                <td>13.4 Litres</td>
            </tr>
            <tr>
                <td>Braking System :</td>
                <td>Dual Channel ABS</td>
            </tr>
            <th>Price :1,96,797(Ex-Showroom)</th>
        </table>
    </div>
    <div class="btn">
        <button class="btn btn-danger"><a style="color: black;" routerLink="bookNow">Book Now</a></button>
    </div>

</div>