.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image {
    margin-bottom: 20px;
}

.image img {
    height: 400px;
    max-width: 100%;
    border-radius: 8px;
}

.body {
    text-align: justify;
}

.body p {
    margin-bottom: 15px;
}

.btn {
    margin-top: 20px;
}

.btn button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #dc3545;
    color: #171515;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn button:hover {
    background-color: #c82333;
}

/* CSS for styling the table */
table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid grey;
  }
  
  th, td {
    border: 1px solid grey;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    text-align: center;
  }
  
  /* Alternate row background color */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Center aligning the text of the first column */
  td:first-child {
    text-align: center;
  }
  
  /* Center aligning the text of the last column */
  td:last-child {
    text-align: center;
  }
  
  /* CSS for table header */
  th {
    background-color: #666666;
    color: white;
  }
  
