<div class="main">
    <div class="image">
        <img src="https://imgd.aeplcdn.com/1056x594/n/cw/ec/55973/rs-200-right-front-three-quarter-7.png?isig=0&q=80">
    </div>

    <div class="body">
        <p><b>Engine:</b> The liquid-cooled engine of the Bajaj Pulsar RS200 is equipped with Triple Spark technology, which enhances combustion efficiency, leading to improved power delivery and fuel economy.</p>

        <p><b>Performance:</b>The Bajaj Pulsar RS200 features a high power-to-weight ratio, making it capable of swift acceleration and impressive top speeds, ideal for both city riding and highway cruising.</p>

        <p><b>Design:</b>The aerodynamic design of the Bajaj Pulsar RS200 not only enhances its visual appeal but also reduces wind resistance, allowing for better high-speed stability and efficiency.</p>

        <p><b>Features:</b>The Bajaj Pulsar RS200 packs a punch with its powerful liquid-cooled engine and sleek design. Its precise gearbox and responsive fuel injection system deliver thrilling performance, while its stable chassis and advanced suspension ensure a comfortable ride. Equipped with disc brakes and optional ABS, it prioritizes safety. With its sporty aesthetics and competitive pricing, the RS200 is a top choice for riders seeking style and performance in a compact package.</p>

        <p><b>Suspension and Brakes:</b>The Bajaj Pulsar RS200 boasts advanced suspension and braking systems. Its telescopic front forks and Nitrox mono-shock rear suspension ensure a comfortable yet sporty ride. Paired with reliable disc brakes, it offers precise and responsive braking performance, further enhanced by optional ABS for added safety.</p>

        <p><b>Price:</b>The Ex-Showroom price of bajaj pulsar N250 is &#x20b9;1,71,914. Despite its premium features and performance, the Bajaj Pulsar RS200 is competitively priced within its segment, offering excellent value for riders seeking a balance of performance and affordability.</p>

        <p>Overall, The Bajaj Pulsar RS200 is a dynamic sportbike renowned for its powerful engine, agile handling, and advanced safety features like disc brakes and optional ABS. Its sleek design and customizable options make it a top choice for riders seeking high performance and value in a compact package.
        </p>
    </div>
    <div>
        <table border="2px solid grey">
            <th>Key Specifications</th>
            <tr>
                <td>Engine Capacity :</td>
                <td>199.5 cc</td>
            </tr>
            <tr>
                <td>Max Power :</td>
                <td>24.13 bhp &#64; 9750 rpm</td>
            </tr>
            <tr>
                <td>Max Torque :</td>
                <td>18.74 Nm &#64; 8000 rpm</td>
            </tr>
            <tr>
                <td>Mileage :</td>
                <td>38 Kmpl</td>
            </tr>
            <tr>
                <td>Cooling System :</td>
                <td>Liquid-cooled</td>
            </tr>
            <tr>
                <td>Fuel Tank Capacity :</td>
                <td>13 Litres</td>
            </tr>
            <tr>
                <td>Braking System :</td>
                <td>Dual Channel ABS</td>
            </tr>
            <th>Price :&#x20b9;1,71,914(Ex-Showroom)</th>
        </table>
    </div>
    <div class="btn">
        <button class="btn btn-danger"><a  style="color: black;" routerLink="bookNow" >Book Now</a></button>
    </div>

</div>